<div class="tab">
  <h2 class="tab-heading">General</h2>
  <form>

  <label>Item Number</label>
  <input name="item-number" value="{{number}}">

  	<div id="top-group">
	    <div class="col left">
		    <label>Item Heading</label>
		    <select name="heading">
		      <option value="Regular Agenda">Regular Agenda</option>
		      <option value="Communications" selected="selected">Communications</option>
		      <option value="Times Certain">Times Certain</option>
		      <option value="Consent Agenda - No Discussion">Consent Agenda - No Discussion</option>
		      <option value="Four-Fifths Agenda">Four-Fifths Agenda</option>
		      <option value="Executive Order">Executive Order</option>
		    </select>
	    </div>
	    <div class="col right">
	    	<input name="emergency-item" type="checkbox" value="1"> <label>Emergency Item</label>
	    </div>
	</div>
	
	<div id="officials-col">
      <label>Elected Officials</label>
      {{owners}}
    </div>
    <div id="bureaus-col">
      <label>Bureaus</label>
      {{bureaus}}
    </div>

    <div class="clear"></div>
    <label>Item Text</label>
    <textarea name="topic"></textarea>
  </form>
</div>
<div class="tab disposition">
  <h2 class="tab-heading">Disposition</h2>
  
  <label>Disposition</label>
  <input type="text" class="disposition-title" name="disposition-title" value="">
  
  <label>Disposition Header</label>
  <select class="disposition-header" name="disposition-header" value="">
    <option value="">---</option>
    <option value="ORDINANCE NO.">ORDINANCE NO.</option>
    <option value="RESOLUTION NO.">RESOLUTION NO.</option>
  </select>
</div>
<div class="tab">
  <h2 class="tab-heading">Vote</h2>
  <a class="button" href="#!/newvote">Vote +</a><br class="clear">
  <div class="vote-wrapper">
  </div>
</div>
<div class="tab">
  <h2 class="tab-heading">Attachments</h2>
    <form id="item-file-upload-form" method="post" enctype="multipart/form-data">
    <label>Attachments</label>
    <input type="file"><br><a class="button upload" href="#!/edit/upload">Upload</a>
    <br class="clear">
    <p>Files</p>
    <ul id="item-file-list">
      
    </ul>
  </form>
</div>
<br>
<a class="button" href="#!/edit/save" data-default="default">Save</a>
<a class="button" href="#!/edit/cancel">Cancel</a>
<br class="clear">