<form>
  <label>Agenda Title</label>
  <input name="title" value="Portland City Council Agenda">
  <label>Agenda Footer</label>
  <textarea name="footer">NOTE:  "Time Certain" indicates that an item will not be heard by Council prior to the time specified.

Communications items are three minutes each.  Regular Agenda items taking longer than five minutes have the time estimate noted next to the item.

The * indicates an emergency ordinance, which takes effect immediately if passed.  Non-emergency ordinances require two readings and a 30-day waiting period before taking effect.  Resolutions, reports, etc., adopted by Council are effective after adjournment.

The above summary is published by the City Auditor as provided by Section 2-113 of the Charter and Ordinance No. 130672.

Council Chambers is equipped with a sound system for the hearing impaired. Assisted listening devices are available from the Clerk.

The City of Portland will gladly accommodate requests for an interpreter or make other accommodations that further inclusivity.  Please make your request at least 48 hours before the meeting to the Council Clerk 823-4086. (TTY 503-823-6868).

City Council meetings can be viewed at anytime, on demand, via the Internet at http://www.portlandonline.com/video

Check our Web site:  www.portlandonline.com

LaVonne Griffin-Valade
Auditor of the City of Portland

---

Declaration Required by Lobbyists.  Portland City Code 2.12.060 states:  Prior to offering public testimony before City officials, at the beginning of any meetings or phone calls with City officials, or in emails and letters to City officials, a lobbyist must declare which lobbying entity he or she is authorized to represent for that communication.

---


City Council meetings are cable-cast live on City Net 30, Portland Community Media television.
For the replay schedule, see the PCM-TV website at http://www.pcmtv.org/?q=program/schedule  or phone 503.288.1515.

---

"Be a part of the picture...get involved with your City...volunteer for a City of Portland Board or Commission.  For more information, a brochure, or a volunteer application, stop by the Office of Neighborhood Involvement in City Hall or call 503-823-4519."</textarea>
  
  <br>
  <input type="hidden" name="status" value="0">
  <a class="button" href="#!/edit/save">Save</a>
  <a class="button" href="#!/edit/cancel">Cancel</a>
  <br class="clear">
</form>