<form>
  <label>Session Date & Time</label>
  <input name="datetime" value="2-29-2011 14:00">
  
  <label>Session Location</label>
  <input name="location" value="City Hall - 1221 SW Fourth Avenue">
  
  <label class="session-notes">Session Notes</label>
  <textarea class="session-notes" name="header">THOSE PRESENT WERE:</textarea>
  
  <label>Empty Session Message</label>
  <textarea name="empty-session">Due to lack of an agenda there will be no meeting.</textarea>
  
  <br>
  <a class="button" href="#!/edit/save" data-default="default">Save</a>
  <a class="button" href="#!/edit/cancel">Cancel</a>
  <br class="clear">
</form>