<label class="motion-type">Type</label>
<select class="motion-type" name="motion-type">
  <option value="">---</option>
  <option value="item">Vote on Item</option>
  <option value="motion">Vote on Motion</option>
</select>

<label class="motion-status">Motion Status</label>
<select class="motion-status" name="motion-status">
  <option value="">---</option>
  <option value="passed">Passed</option>
  <option value="failed">Failed</option>
</select>

<label class="voting">Voting</label>
<div id="owner-votes">
  <label>All:</label><select name="all-votes"><option value="">---</option><option value="Aye">Aye</option><option value="No">No</option><option value="Absent">Absent</option><option value="Recuse">Recuse</option><option value="Abstain">Abstain</option></select>
  <hr>
</div>